.app {
  color: white;
  background: #1f1f1f;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr 6fr;
  position: relative;
}

.app--header {
  grid-row-start: 1;
  grid-row-end: 2;
}

.app--main {
  grid-row-start: 2;
  grid-row-end: -1;
  padding: 2rem;
}

.pic-of-talia {
  position: absolute;
  transform: translateX(4rem) translateY(1rem);
  transition: transform .5s ease-in-out;
  height: 10vh;
}

.pic-of-talia-about {
  position: absolute;
  transform: translateX(10vw) translateY(25vh);
  transition: transform .5s ease-in-out;
  width: clamp(10rem, 15vw, 15rem);
}
