.app {
  color: white;
  background: #1f1f1f;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr 6fr;
  position: relative;
}

.header, .headerExpanded {
  grid-row-start: 1;
  grid-row-end: 2;
}

.main {
  grid-row-start: 2;
  grid-row-end: -1;
  padding: 2rem;
  width: 100%;
}

.picWrapper, .picWrapperExpanded, .picWrapperExpandedRaised {
  position: absolute;
  transition: transform .5s ease-in-out;
  height: auto;
  aspect-ratio: 3/4;
  display: block;
}

.picWrapper *, .picWrapperExpanded *, .picWrapperExpandedRaised * {
  height: 100%;
  width: 100%;
}

.picWrapper {
  transform: translateX(2vw) translateY(2vh);
  width: 4rem;
}

.picWrapperExpanded {
  transform: translateX(8vw) translateY(25vh);
  width: clamp(12rem, 26vw, 15rem);
}

.picWrapperExpandedRaised {
  transform: translateX(2vw) translateY(2vh);
  width: clamp(12rem, 26vw, 15rem);
}

@media (max-width: 704px) {
  .headerExpanded {
    grid-row-start: 1;
    grid-row-end: -1;
    grid-column-start: 1;
    grid-column-end: -1;
    height: 100vh;
    width: 100vw;
  }
  .picWrapperExpanded {
    transform: translateX(2vw) translateY(25vh);
  }
  .main {
    overflow-y: auto;
    padding: 1rem 1rem 2rem;
  }
}
