.about{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 8fr 6fr;
  align-items: center;
  gap: clamp(.15rem, 2vw, 4rem);
}

.text{
  text-shadow: 1px 0 black, 0 1px black;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: -1;
  width: clamp(20ch, 40vw, 60ch);
  overflow: visible;
  font-size: clamp(1rem, 2vw, 4vh);
}

.sample{
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  justify-self: center;
  align-items: center;
  justify-content: center;
  grid-row-start: 2;
  grid-row-end: -1;
  grid-column-start: 1;
  grid-column-end: 2;
  width: 100%;
  height: 100%;
  padding-bottom: 2rem;
  & audio{
    width: 100%;
    height: 2rem;
    border-radius: 2rem;
    background-color: hsla(324, 100%, 26%, 100%);
    opacity: 1;
  }
  & h1{
    margin: 0;
    font-size: clamp(1rem, 5vw, 4vh);
  }
}

.review{
  height: fit-content;
  width: clamp(8rem, 100%, 70ch);
  align-self: center;
  justify-self: center;
  text-shadow: 1px 0 black, 0 1px black;
  grid-row-start: 2;
  grid-row-end: -1;
  grid-column-start: 2;
  grid-column-end: -1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  & *{
    overflow: visible;
    margin: 0;
    padding: 0 0 .5rem;
  }
  & h1{
    font-size: clamp(1.15rem, 4vw, 6vh);
  }
  & p{
    display: block;
    font-size: clamp(.85rem, 1.5vw, 1.75vh);
    height: clamp(3rem, 30vw, 100%);
    overflow-y: auto;
  }
  & h2{
    align-self: flex-end;
    font-size: clamp(1rem, 2vw, 5vh);
  }
  & .rating{
    display: flex;
    align-items: center;
    height: 2rem;
    margin: 0;

  }
}

.star{
  width: 2rem;
  height: 2rem;
  color: hsl(56, 100%, 70%);
  
}
