.about{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2.5fr 1fr;
  align-items: center;
  padding: 1rem 2rem;
  gap: 1rem;
}

.text{
  text-shadow: 1px 0 black, 0 1px black;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: -1;
}

.sample{
  justify-self: center;
  grid-row-start: 2;
  grid-row-end: -1;
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  & audio{
    width: 100%;
    border-radius: 1rem;
  }
}

.review{
  height: 15vh;
  text-shadow: 1px 0 black, 0 1px black;
  justify-self: center;
  grid-row-start: 2;
  grid-row-end: -1;
  grid-column-start: 3;
  grid-column-end: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  & *{
    margin: 0;
  }
  & h3{
    display: inline;
  }
}

.star{
  aspect-ratio: 1/1;
  width: 2rem;
  color: hsl(56, 100, 70);
  display: inline;
}

@media(max-width: 820px) {
  .about{
    padding: 1rem 0;
  }
}