*
  box-sizing: border-box
  overflow: hidden
  
.sr-only
  display: none
  



//-----------------------
// THE NAV BAR
// ----------------------






//-----------------------
// THE ABOUT PAGE
// ----------------------




//-----------------------
// THE SAMPLES PAGE
// ----------------------  

  
//-----------------------
// THE REVIEWS PAGE
// ----------------------  




//-----------------------
// THE CONTACT PAGE
// ----------------------





//-----------------------
// THE CONTACT PAGE
// ----------------------

// form
//   padding: 0 2rem
//   display: grid
//   grid-template-columns: 1fr 1fr
//   grid-template-rows: 1fr 4fr 1fr
//   align-items: center
//   justify-content: center

// .name, .email
//   justify-self: center

// .content
//   grid-column-start: 1
//   grid-column-end: -1 
//   margin-left: 10vw
//   height: 70%
//   display: grid
//   grid-template-columns: .5fr 9fr

// .content textarea
//   height: 100%
//   width: 40%

// form button
//   padding: 2rem
//   justify-self: center
//   grid-row-start: 3
//   grid-row-end: -1
//   grid-column-start: 1
//   grid-column-end: -1
  
  
@media(max-width: 44rem)
  .app--header--expanded
    grid-row-start: 1
    grid-row-end: -1
    grid-column-start: 1
    grid-column-end: -1
    height: 100vh
    width: 100vw
    @at-root .pic-of-talia
      position: absolute
      transform: translateX(10vw) translateY(25vh)
      transition: .5s ease-in-out
      width: clamp(10rem, 15vw, 15rem)
      height: auto
  
  nav
    height: 100%
    width: 100%

  .nav--menu
    flex-direction: column
    height: 50vh
    margin: auto
    align-items: space-between

  .nav--menu > li



