.nav{
  z-index: 9998;
  display: grid;
  justify-content: center;
  grid-template-columns: 4fr 6fr 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  align-items: center;
  background: hsl(325, 100%, 26%);
  border-bottom: 1px solid white;
  & *{
    margin: 0;
  }
}

.nav[data-menu="closed"]{
  grid-template-columns: 10fr 1fr;
  & .titles{
    justify-self: center;

    transform: translateX(calc(50% - 3rem));
    transition: transform .25s ease-in-out;
  }
  & .toggler{
    grid-column-start: 2;
  }
}



.titles{
  justify-self: flex-end;
  text-align: center;
  width: fit-content;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  transform: translateX(calc(-5% - 1rem));
  transition: transform .25s ease-in-out;
  & * {
    overflow: visible;
    line-height: 1.2;
    margin: 0;
    padding: 0;
  }
  & h1{
    font-size: clamp(1.5rem, 3.5vw, 4.5vh);
  }
}

.title{
  font-size: clamp(2rem, 2.5vw, 3.5vh);
}

.location{
  text-transform: capitalize;
  font-size: 1.5rem;
}

.toggler{
  grid-column-start: 3;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;
  justify-self: flex-start;
  z-index: 9999;
  background-size: contain;
  border: none;
  width: 2rem;
  aspect-ratio: 1;
  cursor: pointer;
  & * {
    stroke: white;
    width: 100%;
    height: 100%;
  }
}


.menu{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: -1;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  font-size: clamp(1.5rem, 1.5vw, 2vh);
}

.menu li{ 
  cursor: pointer;
  color: inherit;
}

@media(max-width: 820px){
  .nav{
    height: 100%;
    width: 100%;
    grid-template-columns: 4fr 3fr 1fr;
    &[data-menu="open"]{
      border-bottom: none;
    }
  }

  .titles{
    justify-content: center;
  }

  .menu{
    flex-direction: column;
    height: 50vh;
    margin: auto;
    align-items: space-between;
  }
}