.reviews{
  display: grid;
  grid-template-columns: repeat(auto-fill, calc(22vw - 2rem));
  grid-template-rows: 1fr 1fr;
  height: 100%;
  padding: 1rem;
  gap: 2rem; 
  justify-content: space-between;
}
.review{
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  width: 100%;
  background-color: hsl(0, 0, 24%);
  box-shadow: 0 0 .15rem 0 hsla(0, 0, 0, 25%);
  border-radius: 5px;
  padding: 0 1rem;

  & h3, & h2{
    margin: 0;
  }
  & h3{
    padding-top: 1rem;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  & p{
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: start;
    height: 80%;
    overflow-y: scroll;
  }
  & h2, .star{
    grid-row-start: 3;
    grid-row-end: -1;
    grid-column-start: 1;
    grid-column-end: 2;
    align-self: center;

  }
  .star{
    aspect-ratio: 1/1;
    width: 2rem;
    color: hsl(56, 100, 70);
  }
}


@media(max-width: 704px){
  .reviews{
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, 18vh);
    overflow-y: scroll;
  }

  .review{
    height: 19vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    & *{
      padding: 0;
      margin: 0;
    }
    & p{
      height: 50%;
    }
    & h2{
      display: inline;
    }
    .star{
      display: inline;
    }
  }


}