.about {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 8fr 6fr;
  align-items: center;
  gap: clamp(0.15rem, 2vw, 4rem);
}

.text {
  text-shadow: 1px 0 black, 0 1px black;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: -1;
  width: clamp(20ch, 40vw, 60ch);
  overflow: visible;
  font-size: clamp(1rem, 2vw, 4vh);
}

.sample {
  align-self: flex-end;
  justify-self: center;
  grid-row-start: 2;
  grid-row-end: -1;
  grid-column-start: 1;
  grid-column-end: 2;
  width: 100%;
  padding-bottom: 2rem;
}
.sample audio {
  width: 100%;
  border-radius: 1rem;
  border: 2px solid white;
}
.sample h1 {
  margin: 0;
  font-size: clamp(1rem, 5vw, 4vh);
}

.review {
  height: fit-content;
  width: clamp(8rem, 100%, 70ch);
  align-self: center;
  justify-self: center;
  text-shadow: 1px 0 black, 0 1px black;
  grid-row-start: 2;
  grid-row-end: -1;
  grid-column-start: 2;
  grid-column-end: -1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
}
.review * {
  overflow: visible;
  margin: 0;
  padding: 0 0 0.5rem;
}
.review h1 {
  font-size: clamp(1.15rem, 4vw, 6vh);
}
.review p {
  display: block;
  font-size: clamp(0.85rem, 1.5vw, 1.75vh);
  height: clamp(3rem, 30vw, 100%);
  overflow-y: auto;
}
.review h2 {
  align-self: flex-end;
  font-size: clamp(1rem, 2vw, 5vh);
}
.review .rating {
  display: flex;
  align-items: center;
  height: 2rem;
  margin: 0;
}

.star {
  width: 2rem;
  height: 2rem;
  color: hsl(56deg, 100%, 70%);
}