.links {
  height: 100%;
  width: 100%;
  padding: 1rem;
  background: #85004d;
  box-shadow: 0 0 0.5rem 0 hsl(0deg, 0%, 0%);
  border-radius: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
}
.links p {
  margin: 0;
  font-size: 2.25rem;
}
.links a {
  text-align: inherit;
  color: inherit;
  text-decoration: none;
  font-size: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.links a * {
  aspect-ratio: 1;
  height: 2rem;
}
.links a svg {
  margin-top: 0.55rem;
}
.links h2 {
  margin: 0;
  padding: 1rem 0;
  font-size: 4rem;
}
.links h2:first-of-type {
  padding: 0 0 1rem;
}