.links {
  height: 100%;
  width: 100%;
  padding: 0 1rem 10rem;
  background: #85004d;
  box-shadow: 0 0 0.5rem 0 hsl(0deg, 0%, 0%);
  border-radius: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid white;
}
.links .link {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.links .link:first-of-type {
  align-self: flex-start;
}
.links .link:last-of-type {
  align-self: flex-end;
}
.links p {
  margin: 0;
  font-size: clamp(1.5rem, 5vw, 4vh);
}
.links a {
  text-align: inherit;
  color: inherit;
  text-decoration: none;
  font-size: clamp(1.5rem, 5vw, 4vh);
  display: flex;
  align-items: center;
  justify-content: center;
}
.links a * {
  aspect-ratio: 1;
  height: 2rem;
}
.links a svg {
  margin-top: 0.55rem;
}
.links h2 {
  margin: 0;
  padding: 1rem 0;
  font-size: clamp(2.5rem, 10vw, 6vh);
}
.links h2:first-of-type {
  padding: 0 0 1rem;
}